[Unit]
Description=Hiraku Agent
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/hirakud -config /etc/hiraku/config.json
Restart=on-failure
RestartSec=2s

DynamicUser=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=yes
ReadWritePaths=/run /tmp
SupplementaryGroups=video

[Install]
WantedBy=multi-user.target
